{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MemberID</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>NumTel</th>
                <th>MembershipStatus</th>
                <th>MembershipStartDate</th>
                <th>MembershipEndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.memberID }}</td>
                <td>{{ member.roles ? member.roles|json_encode : '' }}</td>
                <td>{{ member.password }}</td>
                <td>{{ member.nom }}</td>
                <td>{{ member.prenom }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.numTel }}</td>
                <td>{{ member.membershipStatus }}</td>
                <td>{{ member.membershipStartDate ? member.membershipStartDate|date('Y-m-d') : '' }}</td>
                <td>{{ member.membershipEndDate ? member.membershipEndDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_member_show', {'id': member.id}) }}">show</a>
                    <a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_member_new') }}">Create new</a>
{% endblock %}
